<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,json</Format>
          <Include>
            [TutorBot.TelegramService]*,[TutorBot.Core]*,[TutorBot.Primitives]*,[TutorBot.Abstractions]*,[TutorBot.Authentication]*
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
