@page "/404page"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Mvc
@using System.Diagnostics
@using System.Linq.Expressions
@using System.Collections 

<PageTitle>Error 404</PageTitle>
<h1>Error 404</h1>
<p>Sorry, the page you requested was not found.</p>
  